<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello-Books -- Register</title>
    <link rel="stylesheet" href="css/app.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-sm">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand lead-top" href="index.html"><span><img src="img/logo.png" style="height:100%"/> Hello-Books</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="books.html"><i class="glyphicon glyphicon-list"></i> Catalog</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="container" id="reg-container">
    <div class="row">
        <div class="margin-2x"></div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" action="" class="form" id="registration-form">
                        <h3><strong>Join Hello-Books today.</strong></h3>
                        <hr class="my-4">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input name="name" type="text" class="form-control" required="" placeholder="Enter full name"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" type="email" class="form-control" required="" placeholder="Enter email address"/>
                        </div>

                        <div class="form-group">
                            <label>Username</label>
                            <input name="username" type="text" class="form-control" required="" placeholder="Enter username"/>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password" class="form-control" required="" placeholder="Enter password"/>
                        </div>

                        <hr class="my-4">

                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block">Create Account</button>
                        </div>

                        <p>
                            Have an account? <a href="index.html" class="btn btn-sm btn-default"> Log in »</a>
                        </p>

                    </form>
                </div>

            </div>
        </div>
        <div class="margin-2x"></div>
    </div>
</div>
<script src="js/app.js"></script>
<script src="js/main.js"></script>
</body>
</html>