body{
    color:#444;
    background-color: #F5F5F5;
    background-image: url('../images/bgcard.jpg');
    background-repeat: true;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

nav .brand-logo {
  padding-left: 15px;
  font-size: 1.8rem;
}

.input-field label::after {
  min-width: 600px;
}

.card-title {
  font-size: 18px !important;
}

.card-title a {
  color: teal !important;
}

a {
  color: #333;
}

.input-field.col label {
  width:100% !important;
}

.top-padding {
  padding-top: 15px !important;
}

* {
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p { line-height: 18px; font-size: 12px !important; }

h1 { font-size:80px; font-weight: 400; margin-bottom: 20px; }
h2 { font-size: 30px; font-weight: 300; color:#444; margin: 30px 0 }
h3 { font-size: 20px; font-weight: 400; margin: 20px 0; }
h4 { font-size:14px; font-weight: 400 }

.material-icons {
     display: inline-flex;
     vertical-align: middle;
     padding-bottom: 3px !important;
}

.profile p {
  margin-top: 10px !important;
}

.margin-2x{
    margin-top: 20px !important;
}

.center-children {
  height: 80% !important;
}

.full-height {
  height: 100% !important;
}

.top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.img-thumbnail {
  width: 100%;
}

.active-nav {
  background-color: #ccc;
}

.container-full-height {
  height: 100% !important;
}

.height600 {
  min-height: 600px;
}

.book-details p{line-height: 12px; font-size: 12px}

.card a {
  color: #444 !important;
}

.header, .main, .footer {
  padding-left: 300px !important;
}

.login-form {
  margin-top: 15px;
}

@media only screen and (max-width : 992px) {
  .header, .main, .footer {
    padding-left: 0 !important;
  }
}
